html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden;
}
@media (min-width: 2000px) {
  html {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #1a1838;
  color: #fff;
  max-width: 2000px;
  max-height: 2000px;
}
nav {
  padding: 2rem;
  display: flex;
  border-bottom: 1px solid #fff;
  font-size: 1.8rem;
}
svg {
  display: none;
}
span {
  flex-grow: 1;
  text-align: center;
}
@media (min-width: 20em) {
  svg {
    display: inline-block;
    width: 13.8rem;
    padding-right: 1.5rem;
  }
}
@media (min-width: 35.5em) {
  nav {
    padding: 3rem;
    padding-right: 4.8rem;
  }
  svg {
    padding-right: 0;
  }
  span {
    padding-left: 2rem;
    font-size: 2.5rem;
  }
}
main {
  font-size: 2rem;
}
@media (min-width: 40.5em) {
  main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
}
#signature {
  text-align: center;
}
img {
  width: 15rem;
  height: 15rem;
  filter: drop-shadow(white 0px 0px 5px);
  margin-top: 3rem;
}
@media (min-width: 35.5em) {
  img {
    width: 30rem;
    height: 20rem;
    margin-top: 5rem;
  }
}
p#logoText {
  filter: drop-shadow(white 0px 0px 5px);
  margin-bottom: 3rem;
}
#board {
  border: 3px solid #fff;
  border-radius: 10px;
  padding: 1rem;
  margin: 0.5rem;
  font-size: 1.5rem;
}
@media (min-width: 20em) {
  #board {
    font-size: 1.8rem;
  }
}
@media (min-width: 50.5em) {
  #board {
    display: flex;
    justify-content: space-around;
    padding-right: 4rem;
    max-width: 85%;
  }
}
#info {
  padding: 0.5rem 2rem 0.5rem 0.5rem;
}
#room {
  padding: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 20rem;
  font-size: 1.8rem;
}
#roomName {
  margin: 0.5rem 0;
  padding: 1.2rem 0.8rem 1.2rem 0;
  display: inline;
}
#join {
  display: inline-block;
  padding: 1.2rem 0 1.2rem 0.8rem;
}
div#info p {
  text-align: left;
  margin: 1rem 0;
}
#note {
  margin-top: 1rem !important;
  font-size: 1.2rem;
}
h3 {
  margin-bottom: 2rem;
  text-decoration: underline;
  font-size: 1.4rem;
}
form {
  margin-top: 5rem;
  overflow: hidden;
}
input {
  min-width: 14rem;
  padding: 0.15rem;
  outline: none;
  color: #1a1838;
}
button {
  cursor: pointer;
  padding: 0.2rem;
  font-weight: 450;
  font-size: 1.7rem;
  border: 0;
  margin-top: 0.4rem;
  color: #1a1838;
  border: 1px solid #1a1838;
  border-radius: 3.2px;
}
button:hover {
  background-color: #1a1838;
  border-color: #fff;
  color: #fff;
}
#room::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
#room::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
#room::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
#room::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#room::-webkit-scrollbar-corner {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
